.link-panel{
    background-color: $blue;
}

.link-panel__item{
    padding: 0.5rem 0px;
    a{
        font-family: 'Open Sans', sans-serif;
        color: $white;
        font-size: 13px;
        font-weight: 400;
        padding: 0 1rem;
    }
    &:last-child a{
        padding-right: 0px;
    }
}

.link-panel__item_with-edging{
    border-right: 1px solid $lightBlue;
}