.my-modal{
  width: 100%;
  height: 100%;
  background-color: $filter;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: -10;
  opacity: 0;
}

.purchase__img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid $grey;
}

.purchase{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child){
    border-bottom: 1px solid $grey;
  }
}

.close-modal{
  &:focus{
    outline: none;
  }
}

.modal-body{
  overflow: scroll;
  max-height: 500px;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.show{
  opacity: 1;
  z-index: 100;
}