
.product {

}

.product__wrapper {
  position: relative;
  border-style: solid;
  border-width: 8px;
  border-color: $white;
  box-sizing: border-box;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);;
}

.product__image {
  //фото из psd не подходят к вестке, вставил временные
  margin: auto;
  height: 180px;
  padding: 10px;
  opacity: 0.2;
}

.product__card-body {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.product__card-body__button {
  border-radius: 50%;
  background-color: #7db122;
  width: 47px;
  height: 47px;
  padding: 12px;
  border: none;
}

.product__card-body__wrapper-text {
  width: 80%;
  height: 100%;
  display: inline-block;
  h5 {
    color: $darkGrey;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
  }
  p {
    font-family: OpenSans;
    color: $green;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
  }
  .sale {
    color: $darkGrey;
    text-decoration: line-through;
    font-size: 15px;
  }
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 10px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: $white;
  font-size: 13px;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -13px;
  left: -13px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: -2px;
  right: 55px;
}

.ribbon-top-left::after {
  bottom: 55px;
  left: 0;
}

.ribbon-top-left span {
  right: 3px;
  top: 13px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -13px;
  right: -13px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: -1px;
  left: 52px;
}

.ribbon-top-right::after {
  bottom: 52px;
  right: -1px;
}

.ribbon-top-right span {
  left: 1px;
  top: 13px;
  transform: rotate(45deg);
}

.ribbon-green {
  span {
    background-color: $green;
  }
  &:before, &:after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid $green;
  }
}

.ribbon-blue {
  span {
    background-color: $blue;
  }
  &:before, &:after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid $blue;
  }
}