.sticky{
  padding-top: 2rem;
  transition: all 0.5ms;
}

.sticky__logo{
  color:  $grey;
  font-size: 36px;
  font-weight: 700;
}

.sticky__links{
  align-items: center;
  a{
    color:  #656565;
    font-size: 14px;
    font-weight: 700;
  }
}

.sticky__search{
  float: right;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color:  #c6c6c6;
  box-sizing: border-box;
  background-color:  #ffffff;
  width: 174px;
  height: 29px;
  font-size: 13px;
  font-weight: 400;
}

.stycky__wrapper-input{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  label{
    margin: 0;
    position: relative;
    right: 20px;
    color: $grey;
    font-size: 15px;
  }
}

.stycky__wrapper-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: $grey;
  font-weight: 700;
  span{
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
  }
}

.sticky__button{
  border: none;
  border-radius: 50%;
  background-color:  $green;
  width: 35px;
  height: 35px;
  color: $white;
  padding: 7px;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

.sticky_fixed{
  position: fixed;
  padding-top: 10px;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: $white;
}